@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'montserrat', sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to righ, #93C572 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
}